<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-content">
        <div class="row">
            <div class="col-md-6">
                <h2>Add Analog Input</h2>
                <form id="form-add">
                    <div class="form-group">
                        <label for="data_index_add">Index</label>
                        <input type="number" class="form-control" id="data_index_add">
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn_add">Add Value</button>
                    </div>
                </form>

                <div id="result_add">
                </div>
            </div>

            <div class="col-md-6">
                <h2>Update Value Analog Input</h2>
                <form id="form_update">
                    <div class="form-group">
                        <label for="data_index_update">Index</label>
                        <input type="number" class="form-control" id="data_index_update">
                    </div>

                    <div class="form-group">
                        <label for="data_value_update">Value</label>
                        <input type="number" class="form-control" id="data_value_update">
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn_updated">Update Value</button>
                    </div>
                </form>

                <div id="result_update">
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btn_add").click(function () {
            let param = {
                data_index: $('#data_index_add').val(),
            }

            $.ajax({
                type: 'POST',
                url: '/analog-input/add-analog-input',
                dataType: 'text',
                data: JSON.stringify(param),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                    $("#result_add").html("<p>" + response + "</p>");
                },
                error: function(xhr, status, error) {
                    console.log("Error: ", error);
                    console.log("Response: ", xhr.responseText);
                    $("#result_add").html("<p>Error: " + xhr.responseText + "</p>");
                }
            });
        })

        $("#btn_updated").click(function () {
            let param = {
                data_index: $('#data_index_update').val(),
                data_value: $('#data_value_update').val(),
            }

            $.ajax({
                type: 'POST',
                url: '/analog-input/update-analog-input',
                dataType: 'text',
                data: JSON.stringify(param),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                    $("#result_update").html("<p>" + response + "</p>");
                },
                error: function(xhr, status, error) {
                    console.log("Error: ", error);
                    console.log("Response: ", xhr.responseText);
                    $("#result_update").html("<p>Error: " + xhr.responseText + "</p>");
                }
            });
        })
    </script>
</div>
