<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-content">
        <div class="row">
            <div class="local-remote group-border col-md-3">
                <h5>Local / Remote</h5>
                <div class="row justify-content-center">
                    <button id="btn-local-remote" class="custom-button btn btn-danger" onclick="updateLocalRemote()">LOCAL</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let socketEndpoint = "http://localhost:18091";
        $(document).ready(function () {
            connectToSocketLocalRemote();
        });

        // local-remote
        let socketLocalRemote;
        let valueLocalRemote;
        function connectToSocketLocalRemote() {
            socketLocalRemote = io(socketEndpoint+"/local-remote");

            socketLocalRemote.on("connect", function () {
                socketLocalRemote.emit("get-data");
            });

            socketLocalRemote.on("disconnect", function () {
            });

            socketLocalRemote.on("listen", function (data) {
                if (data){
                    valueLocalRemote = data;
                    $("#btn-local-remote").text("REMOTE");
                    $("#btn-local-remote").removeClass("btn-danger");
                    $("#btn-local-remote").addClass("btn-success");
                } else {
                    valueLocalRemote = data;
                    $("#btn-local-remote").text("LOCAL");
                    $("#btn-local-remote").removeClass("btn-success");
                    $("#btn-local-remote").addClass("btn-danger");
                }
            });

            socketLocalRemote.on("connect_error", function (error) {
            });
        }

        function updateLocalRemote() {
            if (valueLocalRemote) {
                $("#btn-local-remote").text("LOCAL");
                $("#btn-local-remote").removeClass("btn-success");
                $("#btn-local-remote").addClass("btn-danger");
                socketLocalRemote.emit("update-data", false);
            } else {
                $("#btn-local-remote").text("REMOTE");
                $("#btn-local-remote").removeClass("btn-danger");
                $("#btn-local-remote").addClass("btn-success");
                socketLocalRemote.emit("update-data", true);
            }
        }
    </script>
</div>
