<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        .custom-button{
            margin-right: 20px;
            margin-left: 20px;
            width: 150px;
            height: 70px;
        }
        .fixed-wh-5em{
            width: 5em;
            height: 5em;
        }
        .cursor-disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
    </style>

    <div class="main-content">
        <div class="row">
            <div class="local-remote group-border col-md-4">
                <h5>Local / Remote</h5>
                <div class="number-adjust-container" style="text-align: center; margin: 20px;">
                    <div style="display: inline-block; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
                        <div class="row justify-content-center">
                            <button id="btn-local-remote" class="custom-button btn btn-danger cursor-disabled" onclick="">LOCAL</button>
                        </div>

                        <div class="row justify-content-center">
                            <div class="control-knob dark">
                                <input type="checkbox" id="checkbox-local-remote">
                                <div class="control-position on">
                                    <span>LOCAL</span>
                                </div>
                                <div class="control-position off">
                                    <span>REMOTE</span>
                                </div>
                                <div class="knob">
                                    <div class="knob-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cb-open-close group-border col-md-4">
                <h5>CB Open / Close</h5>
                <div class="number-adjust-container" style="text-align: center; margin: 20px;">
                    <div style="display: inline-block; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
                        <!-- CB Open/Close Buttons -->
                        <div class="row justify-content-center mb-3">
                            <button id="btn-cb-open" class="custom-button btn btn-secondary cursor-disabled">CLOSE</button>
                            <button id="btn-cb-close" class="custom-button btn btn-danger cursor-disabled">OPEN</button>
                        </div>

                        <div class="row justify-content-center">
                            <button id="cb-open-close-btn-close" class="btn btn-success rounded-circle fixed-wh-5em">Close</button>
                            <button id="cb-open-close-btn-open" class="btn btn-danger rounded-circle fixed-wh-5em">Open</button>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <table>
                        <tr>
                            <td>Value CB</td>
                            <td>: Binary Input Index 1 (IOA 10)</td>
                        </tr>
                        <tr>
                            <td>Command CB</td>
                            <td>: Binary Output Index 0 (IOA 20)</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tap-changer group-border col-md-4">
                <h5>Tap Changer</h5>
                <div class="number-adjust-container" style="text-align: center; margin: 20px;">
                    <div style="display: inline-block; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
                        <!-- Display the number -->
                        <div id="number-display" style="font-size: 36px; font-weight: bold; margin-bottom: 10px;">0</div>

                        <div class="d-flex justify-content-center mb-3">
                            <div class="control-knob dark mx-2">
                                <input type="checkbox" id="checkbox-tap-changer-automatic-manual">
                                <div class="control-position on">
                                    <span>AUTO</span>
                                </div>
                                <div class="control-position off">
                                    <span>MANUAL</span>
                                </div>
                                <div class="knob">
                                    <div class="knob-center"></div>
                                </div>
                            </div>

                            <div class="control-knob dark mx-2">
                                <input type="checkbox" id="checkbox-tap-changer-local-remote">
                                <div class="control-position on">
                                    <span>LOCAL</span>
                                </div>
                                <div class="control-position off">
                                    <span>REMOTE</span>
                                </div>
                                <div class="knob">
                                    <div class="knob-center"></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button id="tap-changer-increase" class="adjust-button btn btn-success">Raise</button>
                            <button id="tap-changer-decrease" class="adjust-button btn btn-danger">Lower</button>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <table>
                        <tr>
                            <td>Value Tap Changer</td>
                            <td>: Analog Input Index 0 (IOA 30)</td>
                        </tr>
                        <tr>
                            <td>Raise Tap Changer</td>
                            <td>: Binary Output Index 1 (IOA 21)</td>
                        </tr>
                        <tr>
                            <td>Lower Tap Changer</td>
                            <td>: Binary Output Index 2 (IOA 21)</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="measurement group-border col-md-4">
                <h5>Measurement</h5>
                <div class="number-adjust-container" style="text-align: center; margin: 20px;">
                    <div style="display: inline-block; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
                        <!-- Display the number -->
                        <div id="measurement-number-display" style="font-size: 36px; font-weight: bold; margin-bottom: 10px;">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            // Determine the base URL dynamically
            let baseURL = `${window.location.protocol}//${window.location.hostname}`;
            let socketPort = 47772;
            let socketEndpoint = `${baseURL}:${socketPort}`;

            // start local-remote
            let socketLocalRemote = io(socketEndpoint + "/local-remote");
            let valueLocalRemote;

            socketLocalRemote.on("connect", function () {
                socketLocalRemote.emit("get-data");
            });

            socketLocalRemote.on("disconnect", function () {
            });

            socketLocalRemote.on("listen", function (data) {
                if (data) {
                    valueLocalRemote = data;
                    $("#btn-local-remote").text("REMOTE");
                    $("#btn-local-remote").removeClass("btn-danger");
                    $("#btn-local-remote").addClass("btn-success");
                    $("#checkbox-local-remote").attr("checked", true);

                    disableAllButton(true);
                } else {
                    valueLocalRemote = data;
                    $("#btn-local-remote").text("LOCAL");
                    $("#btn-local-remote").removeClass("btn-success");
                    $("#btn-local-remote").addClass("btn-danger");
                    $("#checkbox-local-remote").attr("checked", false);

                    disableAllButton(false);
                }
            });

            socketLocalRemote.on("connect_error", function (error) {
            });

            $("#checkbox-local-remote").on("click", function () {
                if (valueLocalRemote) {
                    $("#btn-local-remote").text("LOCAL");
                    $("#btn-local-remote").removeClass("btn-success");
                    $("#btn-local-remote").addClass("btn-danger");

                    socketLocalRemote.emit("update-data", false);
                    disableAllButton(false);
                } else {
                    $("#btn-local-remote").text("REMOTE");
                    $("#btn-local-remote").removeClass("btn-danger");
                    $("#btn-local-remote").addClass("btn-success");

                    socketLocalRemote.emit("update-data", true);
                    disableAllButton(true);
                }
            });
            // end local-remote

            // start cb open close
            let socketCBOpenClose = io(socketEndpoint + "/cb-open-close");
            let valueCBOpenClose;

            socketCBOpenClose.on("connect", function () {
                socketCBOpenClose.emit("get-data");
            });

            socketCBOpenClose.on("disconnect", function () {
            });

            socketCBOpenClose.on("listen", function (data) {
                if (data){
                    valueCBOpenClose = data;
                    $("#btn-cb-open").removeClass("btn-secondary");
                    $("#btn-cb-open").addClass("btn-success");
                    $("#btn-cb-close").removeClass("btn-danger");
                    $("#btn-cb-close").addClass("btn-secondary");
                } else {
                    valueCBOpenClose = data;
                    $("#btn-cb-open").removeClass("btn-success");
                    $("#btn-cb-open").addClass("btn-secondary");
                    $("#btn-cb-close").removeClass("btn-secondary");
                    $("#btn-cb-close").addClass("btn-danger");
                }
            });

            socketCBOpenClose.on("connect_error", function (error) {
            });

            $("#cb-open-close-btn-close").on("click", function () {
                $("#btn-cb-open").removeClass("btn-success");
                $("#btn-cb-open").addClass("btn-secondary");
                $("#btn-cb-close").removeClass("btn-secondary");
                $("#btn-cb-close").addClass("btn-danger");

                socketCBOpenClose.emit("update-data", true);
            });

            $("#cb-open-close-btn-open").on("click", function () {
                $("#btn-cb-open").removeClass("btn-secondary");
                $("#btn-cb-open").addClass("btn-success");
                $("#btn-cb-close").removeClass("btn-danger");
                $("#btn-cb-close").addClass("btn-secondary");

                socketCBOpenClose.emit("update-data", false);
            });
            // end cb open close

            // start tap-changer
            let socketTapChanger = io(socketEndpoint + "/tap-changer");
            let dataTapChanger;

            socketTapChanger.on("connect", function () {
                socketTapChanger.emit("get-data");
            });

            setInterval(function() {
                socketTapChanger.emit("get-data")
            }, 1000);

            socketTapChanger.on("disconnect", function () {
            });

            socketTapChanger.on("listen", function (data) {
                dataTapChanger = data;
                $("#number-display").text(dataTapChanger.valueTapChanger.toFixed(0));

                // auto/manual
                if (dataTapChanger.valueTapChangerAutoManual){
                    $("#checkbox-tap-changer-automatic-manual").attr("checked", true);
                } else {
                    $("#checkbox-tap-changer-automatic-manual").attr("checked", false);
                }

                // local/remote
                if (dataTapChanger.valueTapChangerLocalRemote){
                    $("#checkbox-tap-changer-local-remote").attr("checked", true);
                } else {
                    $("#checkbox-tap-changer-local-remote").attr("checked", false);
                }

                conditionTapChanger(dataTapChanger);
            });

            socketTapChanger.on("connect_error", function (error) {
            });

            $("#checkbox-tap-changer-automatic-manual").on("click", function () {
                if (dataTapChanger.valueTapChangerAutoManual) {
                    socketTapChanger.emit("update-auto-manual", false);
                } else {
                    socketTapChanger.emit("update-auto-manual", true);
                }
            });

            $("#checkbox-tap-changer-local-remote").on("click", function () {
                if (dataTapChanger.valueTapChangerLocalRemote) {
                    socketTapChanger.emit("update-local-remote", false);
                } else {
                    socketTapChanger.emit("update-local-remote", true);
                }
            });

            $("#tap-changer-increase").on("click", function () {
                socketTapChanger.emit("update-data", 1);
            });
            $("#tap-changer-decrease").on("click", function () {
                socketTapChanger.emit("update-data", 2);
            });
            // end tap-changer

            // start measurement
            let socketMeasurement = io(socketEndpoint + "/measurement");
            let valueMeasurement;

            socketMeasurement.on("connect", function () {
                socketMeasurement.emit("get-data");
            });

            socketMeasurement.on("disconnect", function () {
            });

            socketMeasurement.on("listen", function (data) {
                valueMeasurement = data.toFixed(2);
                $("#measurement-number-display").text(valueMeasurement);
            });

            setInterval(function() {
                socketMeasurement.emit("get-data")
            }, 1000);

            socketMeasurement.on("connect_error", function (error) {
            });
            // end measurement

            // disable all button
            function disableAllButton(value) {
                if (value) {
                    $("#cb-open-close-btn-open, #cb-open-close-btn-close").removeAttr("disabled").attr("disabled", true);
                } else {
                    $("#cb-open-close-btn-open, #cb-open-close-btn-close").removeAttr("disabled").attr("disabled", false);
                }
            }

            function conditionTapChanger(value) {
                if (!value.valueTapChangerAutoManual){
                    console.log("1");
                    disableKnobTapChangerLocalRemote(true);
                    disableButtonRaiseLower(true);
                } else if(value.valueTapChangerAutoManual && value.valueTapChangerLocalRemote){
                    console.log("2");
                    disableKnobTapChangerLocalRemote(false);
                    disableButtonRaiseLower(true);
                } else {
                    console.log("3");
                    disableKnobTapChangerLocalRemote(false);
                    disableButtonRaiseLower(false);
                }
            }

            function disableKnobTapChangerLocalRemote(value){
                if (value){
                    $("#checkbox-tap-changer-local-remote").removeAttr("disabled").attr("disabled", true).addClass("cursor-disabled");
                } else {
                    $("#checkbox-tap-changer-local-remote").removeAttr("disabled").attr("disabled", false).removeClass("cursor-disabled");
                }
            }

            function disableButtonRaiseLower(value) {
                if (value) {
                    $("#tap-changer-increase, #tap-changer-decrease").removeAttr("disabled").attr("disabled", true);
                } else {
                    $("#tap-changer-increase, #tap-changer-decrease").removeAttr("disabled").attr("disabled", false);
                }
            }
        });

    </script>
</div>
